/*

    ANIMATE

    Base:
        a = animate

    Modifiers
        1 = 1st step in width scale
        2 = 2nd step in width scale
        3 = 3rd step in width scale
        4 = 4th step in width scale
        5 = 5th step in width scale
        6 = 6th step in width scale

        -1 = literal value 1s
        -2 = literal value 2s
        -3 = literal value 3s

    Media Query Extensions:
        -ns = not-small
        -m  = medium
        -l  = large

*/
/* Animation Direction */
.reverse { -webkit-animation-direction: reverse; animation-direction: reverse; }
.alternate { -webkit-animation-direction: alternate; animation-direction: alternate; }
.alternate-reverse { -webkit-animation-direction: alternate-reverse; animation-direction: alternate-reverse; }
/* Animation Delay */
.delay-1 { -webkit-animation-delay: 1s; animation-delay: 1s; }
.delay-2 { -webkit-animation-delay: 2s; animation-delay: 2s; }
.delay-3 { -webkit-animation-delay: 3s; animation-delay: 3s; }
/* Animation Duration */
.a1 { -webkit-animation-duration: 125ms; animation-duration: 125ms; }
.a2 { -webkit-animation-duration: 250ms; animation-duration: 250ms; }
.a3 { -webkit-animation-duration: 500ms; animation-duration: 500ms; }
.a4 { -webkit-animation-duration: 1000ms; animation-duration: 1000ms; }
.a5 { -webkit-animation-duration: 2000ms; animation-duration: 2000ms; }
.a6 { -webkit-animation-duration: 3000ms; animation-duration: 3000ms; }
@media screen and (min-width: 30em) { }
@media screen and (min-width: 30em) and (max-width: 60em) { }
@media screen and (min-width: 60em) { }

